<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recyclowaste">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecycloWaste">

        <activity
            android:name=".Review_Delete"
            android:exported="true" />

        <receiver android:name=".AlarmReciever" />

        <activity
            android:name=".Successful"
            android:exported="true"
            android:label="Successful"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".MyPackage"
            android:exported="true"
            android:label="My Packages"
            android:parentActivityName=".MyPackage" />
        <activity
            android:name=".SelectPackageOne"
            android:exported="true" />
        <activity
            android:name=".EditPaymentDetails"
            android:exported="true"
            android:label="Payment Details"
            android:parentActivityName=".EditPaymentDetails" />
        <activity
            android:name=".ViewPaymentDetails"
            android:exported="true"
            android:label="Payment Details"
            android:parentActivityName=".ViewPaymentDetails" />
        <activity
            android:name=".PaymentForm"
            android:exported="true"
            android:label="Payment Form"
            android:parentActivityName=".PaymentForm" />
        <activity
            android:name=".Reviews"
            android:exported="true"
            android:label="Reviews"
            android:parentActivityName=".Reviews" />
        <activity
            android:name=".reviewAdd"
            android:exported="true"
            android:label="Write a review"
            android:parentActivityName=".reviewAdd" />
        <activity
            android:name=".review_history"
            android:exported="true"
            android:label="Review History"
            android:parentActivityName=".review_history" />
        <activity
            android:name=".SignUp"
            android:label="Sign Up" />
        <activity
            android:name=".BookingDetails"
            android:label="Details"
            android:parentActivityName=".MyBookings" />
        <activity
            android:name=".BookingPayment"
            android:label="Payment"
            android:parentActivityName=".BookPickup" />
        <activity
            android:name=".HomeMarketplace"
            android:exported="true"
            android:label="Marketplace Advertisments"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditProfile"
            android:label="@string/edit_profile_title"
            android:parentActivityName=".UserProfile" />
        <activity
            android:name=".UserProfile"
            android:label="@string/user_profile_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".reviews_bookuser"
            android:exported="true"
            android:label="Booking Reviews"
            android:parentActivityName=".reviews_bookuser" />
        <activity
            android:name=".Reviews_Driver"
            android:exported="true"
            android:label="Driver Reviews"
            android:parentActivityName=".Reviews_Driver" />
        <activity
            android:name=".MyBookings"
            android:label="@string/my_bookings_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BookPickup"
            android:label="@string/book_pickup_title"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".select_driver" />
        <activity
            android:name=".PostAd"
            android:exported="true"
            android:label="Post Ad"
            android:parentActivityName=".HomeMarketplace" />
        <activity
            android:name=".EditAd"
            android:exported="true"
            android:label="@string/editAd"
            android:parentActivityName=".MyAds" />
        <activity
            android:name=".MyAds"
            android:exported="true"
            android:label="@string/myAds"
            android:parentActivityName=".HomeMarketplace" />
        <activity android:name=".Login" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="RecycloWaste">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>